body{
    background-color: rgb(13, 102, 226);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;

    background-color: wheat;
    
    border-color: aqua;
    height: 500px;
    width: 500px;
    margin: 50px;
    padding: 20px;

}